<!doctype html>
<html>

<head>
    <title>Création de compte</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
	<center>
		<h4>Dashboard - Créer un compte</h4>
	</center>
	<br>
	<br>
	<br>
	<br>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <form action="/register" method="post">
                <div class="form-group">
                    <label>Adresse e-mail</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <center>
                    <button type="submit" class="button2 btn btn-warning btn-lg">Créer un compte</button>
                </center>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
		<a href="/" class="button2 btn btn-warning btn-lg">Retour à l'écran de connexion</a>
    </center>
</body>

</html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	/* Center the loader */
	#loader {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 1s linear infinite;
		animation: spin 1s linear infinite;
	}

	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	/* Add animation to "page content" */
	.animate-bottom {
		position: relative;
		-webkit-animation-name: animatebottom;
		-webkit-animation-duration: 0.5s;
		animation-name: animatebottom;
		animation-duration: 0.5s
	}

	@-webkit-keyframes animatebottom {
		from {
			bottom: -100px;
			opacity: 0
		}

		to {
			bottom: 0px;
			opacity: 1
		}
	}

	@keyframes animatebottom {
		from {
			bottom: -100px;
			opacity: 0
		}

		to {
			bottom: 0;
			opacity: 1
		}
	}

	#myDiv {
		display: none;
		text-align: center;
	}
	.button2 {
  		background-color: rgb(29, 67, 122);
  		border: rgb(29, 67, 122);
  		color: white;
  		text-align: center;
	}
	.button2:hover {
  		background-color: rgb(0, 4, 255);
  		border: rgb(29, 67, 122);
  		color: white;
  		text-align: center;
	}
	.button3 {
		background-color: rgb(252, 15, 19);
		border: rgb(252, 15, 19);
		color: white;
		text-align: center;
	}.button3:hover {
  		background-color: rgb(192, 0, 0);
  		border: rgb(192, 0, 0);
  		color: white;
  		text-align: center;
	}
	body{
		background-color: #B6B6B6;
	}
</style>

<body onload="myFunction()" style="margin:0;">
	<div id="loader"></div>
	<script>
		var myVar;

		function myFunction() {
			myVar = setTimeout(showPage, 1000);
		}

		function showPage() {
			document.getElementById("loader").style.display = "none";
			document.getElementById("myDiv").style.display = "block";
		}
	</script>