<!doctype html>


<head>
    <title>Unlink</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <div class="well2 well well-sm">
	<a href="/accueil" class="button2 btn btn-warning btn-lg">Accueil</a>
	<a href="/services" class="button2 btn btn-warning btn-lg">Services</a>
	<a href="/widgets" class="button2 btn btn-warning btn-lg">Widgets</a>
	<a href="/logout" style="float: right;" class="button3 btn btn-warning btn-lg">Logout</a>
    </div>
</head>

<body>
	<center>
		<h1><u>Unlink accounts</u></h1>
	</center>
	<br>
	<br>
	<br>
	<center>
	<% if (user.twitter.connected) { %>
		<a href="/unlink/twitter" class="button2 btn btn-warning btn-lg">Unlink twitter account</a>	
	<% }%>
	<% if (!user.twitter.connected) { %>
		<h3>Twitter account not linked</h3>
	<% }%>
	<% if (user.steam.connected) { %>
		<a href="/unlink/steam" class="button2 btn btn-warning btn-lg">Unlink steam account</a>
	<% }%>
	<% if (!user.steam.connected) { %>
		<h3>Steam account not linked</h3>
	<% }%>
	<% if (user.meteo.active) { %>
		<a href="/unlink/meteo" class="button2 btn btn-warning btn-lg">Deactivate weather service</a>
	<% }%>
	<% if (!user.meteo.active) { %>
		<h3>Weather service not activated</h3>
	<% }%>
	<% if (user.timer.active) { %>
		<a href="/unlink/timer" class="button2 btn btn-warning btn-lg">Deactivate timer service</a>
	<% }%>
	<% if (!user.timer.active) { %>
		<h3>Timer service not activated</h3>
	<% }%>
	<% if (user.nodemailer.active) { %>
		<a href="/unlink/nodemailer" class="button2 btn btn-warning btn-lg">Deactivate mailer service</a>
	<% }%>
	<% if (!user.nodemailer.active) { %>
		<h3>Nodemailer service not activated</h3>
	<% }%>
	<a href="/unlink/local" class="button2 btn btn-warning btn-lg">Unlink e-mail address from dashboard</a>
	<br>
	</center>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</body>


<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	/* Center the loader */
	#loader {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 1s linear infinite;
		animation: spin 1s linear infinite;
	}

	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	/* Add animation to "page content" */
	.animate-bottom {
		position: relative;
		-webkit-animation-name: animatebottom;
		-webkit-animation-duration: 0.5s;
		animation-name: animatebottom;
		animation-duration: 0.5s
	}

	@-webkit-keyframes animatebottom {
		from {
			bottom: -100px;
			opacity: 0
		}

		to {
			bottom: 0px;
			opacity: 1
		}
	}

	@keyframes animatebottom {
		from {
			bottom: -100px;
			opacity: 0
		}

		to {
			bottom: 0;
			opacity: 1
		}
	}

	#myDiv {
		display: none;
		text-align: center;
	}
	.button2 {
  		background-color: rgb(29, 67, 122);
  		border: rgb(29, 67, 122);
  		color: white;
  		text-align: center;
	}
	.button2:hover {
  		background-color: rgb(0, 4, 255);
  		border: rgb(29, 67, 122);
  		color: white;
  		text-align: center;
	}
	.button3 {
		background-color: rgb(252, 15, 19);
		border: rgb(252, 15, 19);
		color: white;
		text-align: center;
	}.button3:hover {
  		background-color: rgb(192, 0, 0);
  		border: rgb(192, 0, 0);
  		color: white;
  		text-align: center;
	}body{
		background-color: #B6B6B6;
	}.well2 {
		background: #9A9A9A;
	}.well3 {
		background: #C3C3C3;
	}
</style>

<body onload="myFunction()" style="margin:0;">
	<div id="loader"></div>
	<script>
		var myVar;

		function myFunction() {
			myVar = setTimeout(showPage, 1000);
		}

		function showPage() {
			document.getElementById("loader").style.display = "none";
			document.getElementById("myDiv").style.display = "block";
		}
	</script>